@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

/* ========= common css start here ======== */

:root {
    --paragraph-font: "DM Sans", sans-serif;
    --heading-font: "Sen", sans-serif;
    --primary-blue: #4C40F7;
    --secondary-gray: #666;
    --text-color:#14132B;
    --white:#fff;
    --black:#000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--paragraph-font);
    font-size: 16px;
    font-weight: 400;
}

h1 {
    font-size: 65px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: var(--heading-font);
}

p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* ========= common css end here ======== */

